/* GENERAL STYLE */
/* StratosDeliverooWeb-SemiBold.eot */

@font-face {
  font-family: "Stratos Deliveroo Web";
  src: url("./assets/fonts/deliveroo-fonts/StratosDeliverooWeb-SemiBold.eot");
  src: url("./assets/fonts/deliveroo-fonts/StratosDeliverooWeb-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/deliveroo-fonts/StratosDeliverooWeb-SemiBold.woff2")
      format("woff2"),
    url("./assets/fonts/deliveroo-fonts/StratosDeliverooWeb-SemiBold.woff")
      format("woff"),
    url("./assets/fonts/deliveroo-fonts/StratosDeliverooWeb-SemiBold.ttf")
      format("truetype"),
    url("./assets/fonts/deliveroo-fonts/StratosDeliverooWeb-SemiBold.svg#StratosDeliverooWeb-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/deliveroo-fonts/IBMPlexSans-Bold.eot");
  src: url("./assets/fonts/deliveroo-fonts/IBMPlexSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans-Bold.woff") format("woff"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans-Bold.ttf")
      format("truetype"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/deliveroo-fonts/IBMPlexSans.eot");
  src: url("./assets/fonts/deliveroo-fonts/IBMPlexSans.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans.woff2") format("woff2"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans.woff") format("woff"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans.ttf") format("truetype"),
    url("./assets/fonts/deliveroo-fonts/IBMPlexSans.svg#IBMPlexSans")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IBM Plex Sans";
  /* font-weight: ; */
}
.Container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* HEADER */

header {
  border-bottom: solid lightgrey 2px;
  margin: 0 auto;
  width: 96vw;
}

header img {
  height: 80px;
}

/* HERO */

.Inner-hero {
  display: flex;
  padding: 20px 0;
  margin: 0 auto;
  width: 96vw;
}
.Left-part {
  flex: 1;
  margin-right: 30px;
}
.Hero img {
  background: #f3f5f5;
  border-radius: 5px;
  overflow: hidden;
  width: 350px;
}
.Hero p {
  font-size: 19px;
  color: grey;
  line-height: 29px;
}
@media (max-width: 885px) {
  .Inner-hero {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .Left-part {
    padding: 30px;
  }
  .Hero img {
    border-radius: 0;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
}
/* MAIN LEFT PART */

main {
  background-color: #f3f5f5;
  padding: 20px 0;
}
.Inner-main {
  display: flex;
}
main img {
  height: 100px;
}
.Col-left {
  flex: 1;
  margin-right: 30px;
}
.Col-left p {
  display: flex;
  color: #808484;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Popular-mention {
  color: #ff8000;
  font-size: 15px;
}
.Col-left section {
  margin-bottom: 20px;
}
.Meals-container {
  /* align-items: stretch; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
  gap: 10px;
}

.Col-left article {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  min-width: 300px;
  padding: 0 10px 25px;
  width: 45%;
  height: 130px;
  padding: 15px;
}
main article > div {
  margin-right: 20px;
  flex: 1;
}
.Meal-description {
  height: 33px;
  overflow: hidden;
  margin-bottom: 20px;
}
article img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 6px;
}
.Meal-price {
  margin-right: 10px;
}
/* MAIN RIGHT PART */
.Col-right {
  height: fit-content;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  font-size: 15px;
  gap: 10px;
  color: #7d8080;
}
.Col-right button {
  height: 45px;
  background-color: #00cdbd;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 17px;
}
.Cart-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.Cart-item div {
  display: flex;
  gap: 10px;
}
.Cart-item > div span:last-child {
  margin-left: auto;
}
.Cart-results {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.Cart-results div {
  display: flex;
  gap: 10px;
}
.Cart-results div span:last-child {
  margin-left: auto;
}
.Cart-total {
  font-weight: 300;
  font-size: 20px;
}
.Cart-total div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  font-size: 20px;
}
